body {
    background-color: rgb(212, 190, 222);
    font: 100;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    color: #3e2f45;
    background-color: rgb(234, 228, 231);
    font-size: 25px;
    text-decoration: wavy;
    padding: 0.5em;
    margin: 50px;
}

h1 {
    font-style: normal;
    color: rgb(192, 101, 197);
    margin: 30px;
}

nav {
    background-color: rgb(234, 228, 231);
    color: rgb(192, 101, 197);
    padding: 0.8em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-menu li {
    display: inline-block;
    margin-right: 20px;
}

.top-menu a {
    text-decoration: none;
    font-weight: bold;
}

.top-menu a:hover {
    color: red;
}

.top-menu a:visited {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
    border: 10px solid rgb(192, 101, 197);
    padding: 0;
    margin: 10px 0;
}

h2 {
    background-color: rgb(234, 228, 231);
    font-style: normal;
    color: rgb(192, 101, 197);
    margin: 10px;
    padding: 5px;
}

.pteksti {
    background-color: rgb(234, 228, 231);
    font-style: normal;
    color: rgb(192, 101, 197);
    margin: 30px;
}

.h1toinen {
    font-style: normal;
    background-color: rgb(234, 228, 231);
    color: rgb(192, 101, 197);
    margin: 30px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer2 {
    background-color: rgb(234, 228, 231);
    color: black;
    padding: 5px;
}

h3 {
    font-style: normal;
    background-color: rgb(234, 228, 231);
    color: rgb(192, 101, 197);
    margin: 30px;
    padding-left: 0cm;
}

.h2spe {
    background-color: rgb(255, 0, 247);
    color: rgb(242, 237, 237);
}

/* Main Header Styles */
#main-header {
    background-color: rgb(234, 228, 231);
    text-align: center;
    padding: 20px;
}

#main-header h1 {
    margin: 0;
    font-size: 32px;
}

#main-header p {
    font-size: 16px;
    margin-top: 10px;
}


.content-article {
    background-color:rgb(225, 217, 227);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.content-article h2 {
    color: rgb(192, 101, 197);
    font-size: 24px;
    margin-bottom: 10px;
}

.content-article p {
    color: #3e2f45;
    font-size: 16px;
    line-height: 1.5;
}